<div id='bulletin-board'>
  <div id='bulletin'>{{name}}'s Quests</div>
  <div id='posts-section'>
    {{#each quests as |quest|}}
      <a href='/activequests/{{quest.id}}'>
        <div class='active-quest'>
          <div class='title'>{{quest.title}}</div>
          <div class='desc'>{{quest.description}}</div>
          <div class='reward'>${{quest.reward}}</div>
          <div class='quest-type'>Quest Type: {{quest.quest_type}}</div>
        </div>
      </a>
    {{/each}}
  </div>
</div>